<!DOCTYPE html>
<html>
  <head>
    <title>Refunite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' href='{{ url_for('static', filename='media/favicon.ico') }}' type='image/x-icon'/ >
    {% block css_assets %}
    {% assets "css_minified" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" media="screen">
    {% endassets %}
    {% assets "scss_compiled" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" media="screen">
    {% endassets %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('user_login.index')}}">
          <img alt="Brand" src="{{ url_for('static', filename='media/logo.png') }}">
        </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          {% block nav_list %}
          {% endblock %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">

      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      {% block error_messages %}
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
      {% endblock %}
    </div>

  {% assets "js_minified" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  </body>
</html>
