body {
  background-color: blue;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  margin: 0px;
}

.left-button {
  height: 50px;
  width: 33%;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  line-height: 50px;
  display: inline-block;
  margin-left: 10%;
  margin-right: 5%;
  cursor: pointer;
}

.logo {
  text-align: center;
  margin: 100px 0;
  height: 50px;
}

.button {
  &:hover {
    background-color: #ccc;
  }
  &:active {
    background-color: #999;
  }
}
