.right-button {
  height: 50px;
  width: 33%;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  line-height: 50px;
  display: inline-block;
  margin-left: 5%;
  margin-right: 10%;
  cursor: pointer;
}